<!-- your-component.html -->

<ion-content class="chats__wrapper">
    <ion-card class="card__content" (click)="redirect('conversations-with-messages')">
        <ion-card-header>
            Chats
        </ion-card-header>
        <ion-card-content>
            <ion-item class="cards">
                <ion-icon name="chatbox"></ion-icon>
                <ion-label class="right__content">
                    <h2 class="card__title">Conversation With Messages</h2>
                    <p class="card__description">
                        CometChatConversationsWithMessages is an independent component used to set up a screen that shows the recent
                        conversations and allows you to send a message to the user or group from the list.
                    </p>
                </ion-label>
            </ion-item>
        </ion-card-content>
    </ion-card>
</ion-content>
