<!-- call.component.html -->

<ion-content class="ion-padding">

  <ion-header *ngIf="users">
    <ion-card *ngFor="let user of users">
      <ion-card-content>
        <ion-item>
          <ion-avatar slot="start">
            <ion-img [src]="user.avatar"></ion-img>
          </ion-avatar>
          <ion-label class="user__details">
            <h2 class="user__name">{{ user.name }}</h2>
            <p class="user__uid">{{ user.uid }}</p>
          </ion-label>
          <ion-button *ngIf="loggedinUser !== user.uid" (click)="startAudioCall(user.uid)">Start Audio Call</ion-button>
          <ion-button *ngIf="loggedinUser !== user.uid" class="video__call__btn" (click)="startVideoCall(user.uid)">Start Video Call</ion-button>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-header>
  <!-- Replace the following with your actual data and logic -->
  <div *ngIf="incomingCall" class="incoming-call-modal">
    <div *ngIf="incomingCall.getSender() && incomingCall.getSender().getAvatar() " class="modal-main">
      <img src="{{incomingCall.getSender().getAvatar() }}">
    </div>
    <div class="modal-button">
      <ion-button  (click)="acceptCall(incomingCall.getSessionId())">Accept</ion-button>
      <ion-button (click)="rejectCall(incomingCall.getSessionId())">Reject</ion-button>
    </div>

  </div>

<p>{{outgoingCall}}</p>
    <div *ngIf="outgoingCall">

    <mark>CALLING...</mark>
    </div>
  <div class="{{outgoingCall ? 'call-in-progress' : 'call-in-progress-none'}}">
    <div id="my-call" ></div>
  </div>
</ion-content>

